@charset "UTF-8";

html{font-size:16px;box-sizing:border-box;}
*,*::before,*::after{box-sizing:border-box;}
body {margin:0; padding:0;font-family:SCD,"맑은 고딕","Malgun Gothic","돋움",Dotum,sans-serif; letter-spacing:-.2em;line-height:1.6; color:#333;font-weight:400; letter-spacing:-0.5px; word-break:break-all;}
@media all and (min-width:1025px){body{font-size:16px;}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
ul,ol,li,dl,dt,dd{box-sizing:border-box; margin:0; padding:0; list-style: none;}
p,h1,h2,h3,h4,h5,h6,blockquote{box-sizing:border-box; margin:0; padding:0;}
a {color:inherit; text-decoration:none;}
a:hover,
a:focus	{color:#001cb8; transition:all 0.4s ease; -webkit-transition:all 0.4s ease;}
img {border:0; vertical-align:middle; font-size:0;}
table{border-collapse:collapse; border-spacing:0;}
caption,legend{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}
input, select, textarea {box-sizing:border-box; color:#333;}
input, select {vertical-align:top;}
address,em,i{font-style:normal;}
hr{margin: 0; border: none; padding: 0; display:block;}
figure, figcaption{padding:0; margin:0;}
fieldset{border: none; padding: 0; margin: 0;}
label {cursor:pointer;box-sizing:border-box;}
input[type="submit"] {-webkit-appearance: none; -moz-appearance: none; appearance: none;}
header, main, footer, section, article, aside, nav {display: block;}
button,input,optgroup,select,textarea { font-family:inherit; font-size:inherit; font-weight:inherit;line-height:inherit; margin:0;}
button {border:0; padding:0; background:transparent; cursor:pointer; overflow:visible;}
input{ height:40px; text-indent:20px; border:1px solid #e0e0e0; border-radius:40px;}	
textarea{ padding:10px; border:1px solid #e0e0e0; overflow-y:auto;}
textarea:disabled,
input:disabled{ background-color:#f4f6f8}
input[type=checkbox]{ width:17px; height:17px; cursor:pointer; margin-right:10px; margin-top:3px;}
input[type=password]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=email]:focus,
input[type=text]:focus,
textarea:focus{ border:1px solid #2878d3; box-shadow:none; color:#000;}
select{ height:40px; color:#000; border:1px solid #e0e0e0; padding:0 25px 0 10px; cursor:pointer; background-color:#ffffff; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none; appearance:none;}
select::-ms-expand{ display:none;}
::selection{ color:#fff; background:#2878D3;}
::-moz-selection{ color:#fff; background:#2878D3;}

td *, div *, p * {vertical-align:top;}
h1 { font-size: 400%;}
h2 { font-size: 350%; font-weight:normal;}
h3 { font-size: 300%;}
h4 { font-size: 250%; }

#skip-navi{overflow:hidden;position:relative;width:100%;z-index:1000}
#skip-navi a{display:block;overflow:hidden;height:1px;width:1px;margin:0 -1px -1px 0;line-height:0;text-align:center}
#skip-navi a:focus, #accessibility a:hover, #accessibility a:active {width:auto;height:20px;margin:0;padding:8px 0 22px;background:#333;line-height:1;color:#fff;}

.hidden{position:absolute; left:-99999px; display:block; width:1px; height:1px; overflow:hidden; text-indent:-99999px; clip:rect(0,0,0,0);}
.hide{display:none;}

.container{max-width:1560px; margin:0 auto; position:relative; width:100%; -webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;
transition:all .3s ease;}
.container::after{content:""; clear:both; display:block;}

.clearfix:after{clear: both; display: block; content: ""}
.clearfix{display:block; clear: both }
.flex{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:flex;}
.fl{float:left !important }
.fr{float:right !important }
.fc{clear:both !important }

.tl{text-align:left !important }
.tr{text-align:right !important }
.tc{text-align:center !important }

.web_view{display:block !important}
.mob_view{display:none !important}

.txt_blue{color:#0a7fc5;}
.txt_green{color:#63bc6a;}
.txt_Dgreen{color:#1c994c;}
.txt_pink{color:#e3666f;}
.txt_orange{color:#f26522;}
.txt_brown{color:#502b0f;}
.pointB {color:#000 !important;font-weight:300 !important;}
.wordBreak {word-break:keep-all;}

/* 필수체크 블릿 */
.bl-point{display:inline-block;}
.bl-point:after{display:inline-block; margin:-3px 3px 0; vertical-align:middle; content:''; width: 4px; height:4px; border-radius:2px; background-color: #da291c;}


/* Desktop Device */
@media all and (min-width:1025px){
}

/* Tablet Device */
@media all and (max-width:1024px) {
	.container{max-width:98%;}
	body{ font-size:15px;}
	
}
/* Mobile Device */
body{-webkit-text-size-adjust:none; -moz-text-size-adjust:none; -ms-text-size-adjust:none;}
@media all and (max-width:768px) {	
	.web_view {display:none!important}
	.mob_view {display:block!important}
}
.slick-loading {opacity:0;visibility:hidden;transition:opacity .6s ease; -webkit-transition:opacity .6s ease;}
.slick-loading.slick-initialized {visibility:visible; opacity:1;}