@charset "UTF-8";

.hero {padding:2.5% 0 6%;background:url(../img/main/main_bg.jpg) no-repeat center / cover; overflow:hidden;}
.hero>section {display:grid;grid-template-columns:repeat(12, minmax(0,1fr));grid-gap:40px;}

/* 검색 */
.searchWrap .maininfo_Wrap {grid-column:4/10;}
.searchWrap .wether_info ul {display:flex;gap:10px;padding:40px 10px 13px;}
.searchWrap .wether_info ul li {color:#555;}
.searchWrap .wether_info ul li:not(:last-child)::after {content:'';display:inline-block;width:1px;height:.75em;margin-left:10px;background:#d0d6db;}
.searchWrap .wether_info ul li span {color:#009758;}
.searchWrap .search_form {width:98%;max-width:420px;position:relative;}
.searchWrap .search_form .search_input {width:100%;height:56px;line-height:56px;}
.searchWrap .search_form .search_go {overflow:hidden;position:absolute;right:0;bottom:0;width:60px;height:56px;background:transparent url(../img/main/i_search_green.png) no-repeat center;text-indent:-999em;border:0 none;z-index:1;cursor:pointer;}
.searchWrap .search_form .search_go:hover {background-image:url(../img/main/i_search_navy.png);}
.searchWrap .Promo_img {grid-column:10/13;}
.searchWrap .Promo_img img {max-width:100%;}

/* 교육·행사 */
.eduWrap .headerH2 {grid-column:span 12;line-height:1.35;margin-top:-118px;}
.eduWrap .headerH2 b {display:block;}
.eduWrap .edu-calendar {grid-column:1/4;}
.eduWrap .edu-calendar header {display:flex; justify-content:space-between;padding:0 5px 15px;}
.eduWrap .edu-calendar header h3 {line-height:1.1;text-align:center;font-size:2em;}
.eduWrap .edu-calendar header h3 small {display:block;color:#8b95a1;font-size:.438em;}
.eduWrap .edu-calendar header .ctrl {display:flex;align-items:center;}
.eduWrap .edu-calendar header .ctrl button {display:block;width:40px;height:40px;text-indent:-999em;overflow:hidden;background:url(../img/main/i_ctrl.png) no-repeat 0 center;opacity:.6;transition:all ease-out .3s;}
.eduWrap .edu-calendar header .ctrl button:hover,
.eduWrap .edu-calendar header .ctrl button:focus {opacity:1;}
.eduWrap .edu-calendar header .ctrl .next {background-position:-40px center;}
/*-- 달력 --*/
.eduWrap .calendar-table table {width:100%;text-align:center;line-height:46px;font-weight:600;font-size:.938em;}
.eduWrap .calendar-table thead {color:#8b95a1;}
.eduWrap .calendar-table .sunD,
.eduWrap .calendar-table tr td:nth-of-type(1) {color:#e9404f;}
.eduWrap .calendar-table tbody td {position:relative;z-index:1;color:#4a4a4a;}
.eduWrap .calendar-table tbody td.start::before,
.eduWrap .calendar-table tbody td.end::before,
.eduWrap .calendar-table tbody td::after {content:'';position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);width:100%;padding-top:98%;opacity:.35;z-index:-1;}
.eduWrap .calendar-table td::before {opacity:1 !important;border-radius:80px;z-index:0;}
.eduWrap .calendar-table td.start::after {border-radius:80px 0 0 80px;}
.eduWrap .calendar-table td.end::after {border-radius:0 80px 80px 0;}
.eduWrap .calendar-table td.edu::before,
.eduWrap .calendar-table td.edu::after,
.eduWrap .calendar-table + .legend .edu span {background-color:#fdc437;}
.eduWrap .calendar-table td.event::before,
.eduWrap .calendar-table td.event::after,
.eduWrap .calendar-table + .legend .event span  {background-color:#3dd47f;}
.eduWrap .calendar-table + .legend {display:flex;gap:10px;margin:15px 5px;}
.eduWrap .calendar-table + .legend dt span {display:inline-block;vertical-align:baseline;width:15px;height:15px;border-radius:15px;text-indent:-999em;overflow:hidden;}
.eduWrap .calendar-table + .legend dd + dt {margin-left:15px;}
/*-- 리스트 --*/
.eduWrap .edu-list {grid-column:4/-1;}
.eduWrap .edu-list-wrap {display:flex;}
.eduWrap .edu-list-wrap:has(.slick-track) {display:block;}
.eduWrap .edu-list-wrap .slick-track {height:450px;display:flex;align-items:center;gap:40px;max-width:1600px;}
.eduWrap .edu-list-wrap * {transition:all ease .3s;}
.eduWrap .edu-list .item {position:relative;border-radius:20px;width:345px;height:400px;padding:36px 40px;background-color:#243b7c;color:#fff;z-index:1;overflow:hidden;}
.eduWrap .edu-list .item.event {background-color:#2a7f3d;}
.eduWrap .edu-list .item header {display:grid;grid-template-columns:repeat(3, minmax(0,1fr));align-items:center;grid-gap:10px;}
.eduWrap .edu-list .item .cate {font-size:14px;border-radius:40px;padding:3px 10px;text-align:center;background-color:#003478;}
.eduWrap .edu-list .item.event .cate {background-color:#28613e;}
.eduWrap .edu-list .item .dday {font-size:28px;font-weight:600;grid-column:2/4;text-align:right;color:#7e93e3;}
.eduWrap .edu-list .item.event .dday {color:#b4ccc4;}
.eduWrap .edu-list .item h4 {font-size:20px;grid-column:1/4;margin:20px 0;}
.eduWrap .edu-list .item .txt {letter-spacing:0;opacity:.5;}
.eduWrap .edu-list .item dl {font-size:.938em;margin:15px 0;display:grid;grid-template-columns:51px auto; align-items:baseline;line-height:2em;}
.eduWrap .edu-list .item.edu dl::after {content:'';position:absolute;bottom:70px;left:40px;right:40px;border-top:1px solid rgba(255, 255, 255, 0.5)}
.eduWrap .edu-list .item dt::after {content:':';margin-left:6px;}
.eduWrap .edu-list .item dd {line-height:1.5;}
.eduWrap .edu-list .item u  {font-size:14px;text-decoration:none;position:absolute;left:50%;transform:translateX(-50%);width:calc(100% - 70px);bottom:36px;padding-left:25px;background:url(../img/main/i_board.png) no-repeat 3px center;height:1.6em;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.eduWrap .edu-list .item::after {content:'';position:absolute;z-index:-1;background-color:#032063;left:-70%;right:-70%;top:0;bottom:0;transform:skewX(-45deg) scale(0, 1);transition:all ease .3s;}
.eduWrap .edu-list .item.event::after {background-color:#024320;}
.eduWrap .edu-list .item:hover::after {transform:skewX(-45deg) scale(1, 1);}
.eduWrap .edu-list a:hover .item,
.eduWrap .edu-list a:focus .item {box-shadow:1px 5px 12px 2px rgba(0,0,0,.5);}
.eduWrap .edu-list a:hover .item h4,
.eduWrap .edu-list a:focus .item h4 {text-decoration:underline;}
.eduWrap .edu-list a:hover .item .txt,
.eduWrap .edu-list a:focus .item .txt {opacity:1;}
.eduWrap .edu-list .slick-list {overflow-x:auto;}
.eduWrap ::-webkit-scrollbar {height:20px;border-radius:20px;}
.eduWrap ::-webkit-scrollbar-track {background:#fff;border-radius:20px;}
.eduWrap ::-webkit-scrollbar-button:start:decrement,
.eduWrap ::-webkit-scrollbar-button:end:increment {display:none; border-radius:5px;}
.eduWrap ::-webkit-scrollbar-thumb {height:10px; width:10px;background-clip:padding-box;border:4px solid #fff; background:#4b64c7; border-radius:20px;cursor:pointer;}

.edu-list .slick-scrollbar{margin-top:10px;}
.edu-list .slick-scrollbar input[type=range]{-webkit-appearance: none; width:100%; height:20px;padding-left:2px; border-radius: 10px; background-color:#fff; box-shadow: inset 0px 3px 6px rgba(0,0,0,.29);}
.edu-list .slick-scrollbar input[type=range]:focus {outline:none;}
.edu-list .slick-scrollbar input[type="range"]::-webkit-slider-thumb{height:14px; background:#4b64c7; width:10%; border-radius:10px; cursor:grab; -webkit-appearance:none;}


/* 바로가기 */
.shortCut {display:flex;justify-content:space-between;gap:40px;margin-top:-3%;}
.shortCut .item {flex:1 1 0;}
.shortCut .item a {display:block;padding:30px;border-radius:20px;background:#fff;border:1px solid #d9d9d9;}
.shortCut .item a::after {content:'';display:block;clear:both;}
.shortCut .item img {float:left;margin-right:22px;transition:all ease-out .3s;}
.shortCut .item h3 {font-size:1.25em;margin:13px 0 6px;}
.shortCut .item p {font-size:.875em;opacity:.83;}
.shortCut .item a.on,
.shortCut .item a:hover,
.shortCut .item a:focus {background:#007ac2;border-color:#007ac2;color:#fff;box-shadow:1px 6px 15px rgba(0,0,0,.35);}
.shortCut .item a.on img,
.shortCut .item a:hover img,
.shortCut .item a:focus img {transform:rotateY(360deg);}

/* 센터 새소식 */
.infoWrap {margin:4% auto;}
.infoWrap::after {content:'';display:block;clear:both;}
.infoWrap .boardWrap {float:left;width:calc(50% - 20px);overflow:hidden;}
.infoWrap .popUp {float:right;width:calc(50% - 20px);}
.boardWrap .header_tab {margin:1rem 0;}
.boardWrap .header_tab h3 {display:inline-block;height:46px;line-height:46px;font-size:1.125em;position:relative;}
.boardWrap .header_tab h3::after {content:'';position:absolute;left:0;top:0;bottom:0;right:0;border-radius:80px;background:#edf2f4;z-index:-1;}
.boardWrap .header_tab button {font-size:1.125em;padding:0 36px;border-radius:40px;color:#666;font-weight:400;transition:all ease .25s;}
.boardWrap .header_tab button:hover,
.boardWrap .header_tab button.on {background:#0066b3;color:#fff;font-weight:500;}
.boardWrap .new {display:grid;grid-template-columns:92px  calc(100% - 120px);height:92px;grid-gap:25px;}
.boardWrap .new p {padding:16px 18px 14px;text-align:center;border-radius:20px;background:#edf2f4;line-height:1.15;letter-spacing:-.8px;font-size:14px;color:#9ca7b2;}
.boardWrap .new p span {display:block;font-size:40px;color:#546476;letter-spacing:0;}
.boardWrap .new p b {font-weight:500;}
.boardWrap .new a {margin:18px 0;}
.boardWrap .new a strong {font-size:1.25em;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.boardWrap .new a strong sup {color:#da372e;font-size:12px;font-weight:bolder;padding-left:3px;}
.boardWrap .new a blockquote {font-size:.938em;width:100%;height:1.6em;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.boardWrap .new a:hover strong {text-decoration:underline;}
.boardWrap .board_list {border-top:1px dotted #9ca7b2;margin:25px 3px;padding-top:25px;}
.boardWrap .board_list li {position:relative;padding-left:15px;line-height:2em;margin-bottom:14px;}
.boardWrap .board_list li::before {content:'';position:absolute;width:4px;height:4px;border-radius:4px;background-color:#9ca7b2;left:5px;top:calc(.5em + 4px);}
.boardWrap .board_list blockquote {display:inline-block;width:calc(100% - 100px);overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

/* 알림영역 */
.popUp header {margin:-30px 0 6px;}
.popUp header::after {content:'';display:block;clear:both;}
.popUp .ctrl {float:right;}
.ctrl {display:flex;align-items:center;}
.ctrl button {display:block;width:40px;height:40px;text-indent:-999em;overflow:hidden;background:url(../img/main/i_ctrl.png) no-repeat 0 center;opacity:.6;transition:all ease-out .3s;}
.ctrl button:hover,
.ctrl button:focus {opacity:1;}
.ctrl .next {background-position:-40px center;}
.ctrl .pause {background-position:-80px center;}
.ctrl .play {background-position:right center;}
.popWrap {overflow:hidden;}
.popWrap .item {float:left;margin-right:20px;}
.popWrap .item a {display:block;}
.popWrap .item a img {border-radius:20px;}


@media all and (max-width:1400px){
	.hero section.searchWrap {grid-gap:20px;}
	.searchWrap .maininfo_Wrap {grid-column:4/9;}
	.searchWrap .Promo_img {grid-column:9/13;}
	.eduWrap .edu-calendar {grid-column: 1/5;}
	.eduWrap .edu-list {grid-column: 5/-1;}
}

@media all and (max-width:1608px){
	.shortCut .item img/*,.shortCut .item p*/ {display:none;}
}

@media all and (max-width:820px){
	.searchWrap .maininfo_Wrap {grid-column:1/8;}
	.searchWrap .wether_info ul {padding-top:25px;}
	.searchWrap .Promo_img {grid-column:8/13;}

	.eduWrap ::-webkit-scrollbar-thumb {height:10px; width:10px;background-clip:padding-box;border:4px solid #fff; background:#4b64c7; border-radius:20px;cursor:pointer;}
	.eduWrap .edu-list .slick-list {overflow:visible;}
	.edu-list .slick-slide {opacity:0;}
	.edu-list .slick-slide[tabindex='0'] {opacity:1;}
	.edu-list .slick-slide.slick-current .item {box-shadow:0 4px 5px rgba(0,0,0,0.2);}
	.edu-list .slick-dots {width:100%;text-align:center;}
	.edu-list .slick-dots li {display:inline-block;}
	.edu-list .slick-dots li button {background:#9ca7b2;width:14px;height:14px;border-radius:14px;text-indent:-999em;overflow:hidden;margin:0 10px;}
	.edu-list .slick-dots li.slick-active button {background:#4b64c7;}

	.hero {padding-bottom:70px;}
	.eduWrap .headerH2 {margin-top:25px;}
	.eduWrap .headerH2 b {display:inline-block;margin-right:12px;}
	.eduWrap .edu-calendar {grid-column: 1/6;}
	.eduWrap .edu-list {grid-column: 6/-1;}
	.eduWrap .edu-list-wrap .slick-track {gap:25px;}

	.shortCut {display:block;margin-top:-40px;}
	.shortCut .item {margin-bottom:30px;}
	.shortCut .item a {padding:20px;}
	.shortCut .item img {display:block; width:82px;}

	.infoWrap .boardWrap,
	.infoWrap .popUp {width:100%;}
	.infoWrap .popUp {margin:40px auto;}
	.popUp .ctrl {float:left;}
	.popWrap {gap:25px;}

}

@media all and (max-width:640px){
	.hero section.searchWrap {grid-gap:0;}
	.searchWrap .maininfo_Wrap {grid-column: 1 / 13;}
	.searchWrap .wether_info ul {justify-content:center; padding:25px 0px 10px; transform:scale(.9);}
	.searchWrap .search_form {margin:auto;}
	.searchWrap .Promo_img {display:none;}

	.hero .eduWrap {grid-gap:10px;}
	.eduWrap .headerH2 {margin-top:30px;}
	.eduWrap .edu-calendar {display:none;}
	.eduWrap .edu-list {grid-column: 1/-1;}
	.eduWrap .edu-list .item {width:94vw;max-width:315px;height:370px;padding:30px;}
	.eduWrap .edu-list-wrap .slick-track {height:390px; align-items:flex-start;}
	.eduWrap .edu-list .item .dday {font-size:24px;}
	.eduWrap .edu-list .item h4 {margin:18px 0 12px; font-size:18px;}

	.shortCut .item {margin-bottom:20px;}

	.boardWrap .header_tab button {font-size:1em;}
	.boardWrap .new {grid-gap:0; grid-template-columns:87px calc(100% - 88px);height:87px;}
	.boardWrap .new p {transform:scale(.8);transform-origin:left center;}
	.boardWrap .new a {margin-bottom:0;}
	.boardWrap .board_list {margin:15px 3px;padding-top:15px;}
	.boardWrap .board_list li {margin-bottom:10px;}
	.boardWrap .board_list blockquote {width:100%;}
	.boardWrap .board_list span {display:none;}

	.popWrap .item img {width:94vw;}

}
